# Virtual environment
backend/venv1/

# Ignore all env files everywhere
.env
.env.*
**/.env
**/.env.*


# Python cache
__pycache__/
*.pyc

# Django
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db
